@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text-main);
  
  --color-card: var(--cards);
  --color-border: var(--borders);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  
  --font-sans: var(--font-inter);
}

:root {
  --background: #0F172A;
  --cards: #1E293B;
  --borders: #334155;
  --primary: #6366F1;
  --primary-hover: #4F46E5;
  --text-main: #F1F5F9;
  --text-secondary: #94A3B8;
}

body {
  background: var(--background);
  color: var(--text-main);
  font-family: var(--font-inter), sans-serif;
}
